.container{
    height: 600px;
    width: 450px;
    background-color: rgba(46, 220, 205, 0.589);
    margin: 5px;
    padding: 10px;
    border: 5px solid black;
    text-align: center;
    box-shadow:0px 20px 30px rgb(226, 46, 106);
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;

}
img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
body{
    display:flex;
    justify-content: center;
}
h1{
    background-color: bisque;
}

