.card{
    height: 680px;
    width: 620px;
    background-color: rgb(75, 189, 195);
    padding: 10px;
    border: 5px solid rgb(11, 11, 10);
    text-align: center;
    margin: 5px;
    box-shadow: 0px 0px 20px rgb(185, 164, 164);
    
    border-radius: 1%;
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
body{
    background-color: rgb(213, 213, 201);
    display: flex;
    justify-content: center;
}
h1{
    background-color: rgb(89, 137, 185);
    color: rgb(204, 204, 214);
}
h3{
   background-color: rgb(89, 137, 185);
   color:  rgb(247, 247, 250);
}
h4{
    color: rgb(13, 91, 169);
}
p{
    color: rgb(4, 55, 106);
}
