.a
{
    color:aqua;
    background-color: blueviolet;
}
#box1{
    height:110px;
    width:110px;
    background-color: red;
    padding:10px;
    border: 5px solid black;
    margin:5px;
    border-radius: 50%;
    float: none;
    position: relative;
}
#box2{
    height:110px;
    width:110px;
    background-color: yellow;
    padding:8px;
    border: 5px solid black;
    margin:5px;
    border-radius: 50%;
    float: none;

}
#box3{
    height:110px;
    width:110px;
    background-color: green;
    padding:15px;
    border: 5px solid black;
    margin:5px;
    border-radius: 50%;
    float: none;
}
#box{
    height: 10px;
    width: 10px;
    padding: 18%;
    border:4px solid pink;
    margin:5px;
    
}


