#div1{
    height:100px;
    width: 100px;
    border: 2px solid red;
    padding: 4px;
    margin: 2px;
    background-color: green;
}
#div2{
    height:100px;
    width: 100px;
    border: 2px solid red;
    padding: 4px;
    margin: 2px;
    background-color: yellowgreen;
}
#div3{
    height:100px;
    width: 100px;
    border: 2px solid red;
    padding: 4px;
    margin: 2px;
    background-color: darkgreen;
}
.container{
    display:flex;
    align-items:center;
    justify-content: center;
    
}
#div2:hover{
    background-color: blue;
    border-radius: 80%;
    box-shadow: 0px 0px 30px palevioletred;
}

