body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(189, 204, 53);
    padding: 10px;
    text-align: center;
}
.title{
    text-align: center;
    margin-bottom: 10px;
}
.timetable{
   width: 70%;
   margin: auto;
   border-collapse: collapse;
   background-color: antiquewhite;
   text-align: center;
  
}
.timetable th,.timetable td{
    border: 1px solid coral;
    padding:2px;
    text-align: center;

}
.timetable th{
    background-color: black;
    color: azure;
}
.BREAK{
    background-color: rgb(215, 236, 162);
    font-weight: bold;
    color: brown;
}
.LUNCHBREAK{
    background-color: rgb(199, 226, 165);
    font-weight: bold;
    color: brown;
}