.a{
    color: rgb(8, 8, 7);
    background-color: burlywood;
     margin: 10px;
}
.b{
    color: rgb(3, 3, 2);
    background-color: burlywood;
     margin: 10px;
}
.c{
    color: rgb(14, 13, 12);
    background-color: burlywood;
     margin: 10px;
}
body{
    text-align: center;
    }
#box1{
    height: 120px;
    width: 120px;
    background-color: rgb(202, 225, 255);
    padding: 50px;
    border: 2px solid purple;
    margin: 5px;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
#box2{
    height: 120px;
    width: 120px;
    background-color: rgb(30, 163, 55);
    padding: 60px;
    border: 4px solid hsl(0, 0%, 4%);
    margin: 5px;
    border-radius: 50%;
}  
#box3{
    height: 120px;
    width: 120px;
    background-color:rgb(202, 225, 255);
    padding: 50px;
    border: 2px solid purple;
    margin:5px;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}   

.break{
    background-color:rgb(153, 158, 162);
    color: black;
    
}
.lunchbreak{
    background-color:rgb(140, 144, 147);
    color: black;
   
}


.timetable th{
    background-color: lightcoral;
    color: rgb(9, 8, 8);
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(189, 204, 53);
    padding: 10px;
    text-align: center;
}
.title{
    text-align: center;
    margin-bottom: 10px;
}
.timetable{
   width: 100%;
   height: 120%;
   margin: auto;
   border-collapse: collapse;
   background-color: antiquewhite;
   text-align: center;
  
}
h3{
    height: 8px;
    width: 120px;
}




   

